<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <center>
        <h1>Webpage inserte data form</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="tn">Topic Name</label>
            <select name="tn" id="tn">
                {% for to in Tdata %}
                    <option value="{{to}}">{{to.topic_name}}</option>
                {% endfor %}
            </select><br><br>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter Name"><br><br>
            <label for="url">Url</label>
            <input type="url" name="url" id="url" placeholder="Enter url"><br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>